# Python
__pycache__/
*.pyc

# Virtual Env
.venv/

# VS Code
.vscode/

#License
LICENSE

# # Data (如有本地数据)
# data/*.csv
# data/*.xlsx
# data/*.json
# data/*.db
# data/*.sqlite3
# data/*.h5
# data/*.ckpt
# data/*.pt

